:root{
	--back : white;
	--text: black;
	--border: lightgrey;
	--idle: gray;
	--correct: #73F59D;
	--placed: #F5DB73;
	--wrong: #F57673;
	--size: 4vw;
}
body{
	display: flex;
	flex-direction: column;
	font-family: std;
	font-weight: 900;
	background-color: var(--back);
	color: var(--text);
}
@font-face{
	font-family:std;
	src:url("Lato-Regular.ttf")
}	
h1{
text-align: center;
font-size:350%;
margin-bottom: 0;
margin-top:0;
}
button{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items:center;
font-family: std;
transition:0.5s all;
font-size:calc(var(--size) * 0.325);
background-color:var(--back);
color: var(--text);
border:var(--border)solid calc(var(--size) / 10);
border-radius:25vw;
width: calc(var(--size) * 6);
height: calc(var(--size) * 0.9);
margin: auto;
margin-top: 0;
}
button:hover{
cursor: pointer;
background-color:var(--border);
}
button::after{
	content:"";
	border-radius: var(--size);
	padding:calc(var(--size) / 10);
	margin-top: 0.2vh;
	padding-left: calc(var(--size) / 3);
	padding-right: calc(var(--size) / 3);
	background: linear-gradient(90deg, blue 0%, var(--wrong) 100%);
	transition: 0.5s all;
}
button:hover::after{
	padding-left: calc(var(--size) * 2);
	padding-right: calc(var(--size) * 2);
}
p{
text-align: center;
font-size: 150%;
margin:0;
font-weight: 500;
}

div{
	width: calc(var(--size) * 6);
	margin: auto;
}
column{
	display: flex;
	flex-direction: column;
}
row{
	display: flex;
	flex-direction:row;
}
c{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: calc(var(--size) / 1.5);
	color: var(--text);
	border-radius: calc(var(--size) / 5);
	margin: calc(var(--size) / 80);
	background-color: var(--back);
	width: var(--size);
	height: var(--size);
	border: var(--border) solid calc(var(--size) / 10);
}
.idle::after{
	position: static;
	content: "";
	margin: auto;
	border-radius: 25vw;
	width: calc(var(--size) * 0.75);
	height: calc(var(--size) * 0.15);
	background-color: var(--idle);
}
.placed::after{
	position: static;
	content: "";
	margin: auto;
	border-radius: 25vw;
	width: calc(var(--size) * 0.75);
	height: calc(var(--size) * 0.15);
	background-color: var(--placed);
}
.correct::after{
	position: static;
	content: "";
	margin: auto;
	border-radius: 25vw;
	width: calc(var(--size) * 0.75);
	height: calc(var(--size) * 0.15);
	background-color: var(--correct);
}
.wrong::after{
	position: static;
	content: "";
	margin: auto;
	border-radius: 25vw;
	width: calc(var(--size) * 0.75);
	height: calc(var(--size) * 0.15);
	background-color: var(--wrong);
}
.nonvisible{
	display: none;
}
.keyboard{
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items:center;
	margin: auto;
	margin-bottom: 0;
}
.keyboard column{
	display: flex;
	flex-direction: column;
	align-items:center;
	margin: auto;
}
.keyboard .row{
	display: flex;
	flex-direction:row;
	text-align: center;
	margin:auto;
}
.keyboard button{
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items:center;
	border: var(--border) calc(var(--size) / 12) solid;
	border-radius: calc(var(--size) / 4.5);
	font-size: calc(var(--size) / 4);
	margin: calc(var(--size) * 0.02);
	width: calc(var(--size) / 1.4);
	height: calc(var(--size)/ 1.4);
}
.keyboard button:hover{
	background-color: var(--border);
}
.second button{
	width: calc(var(--size) * 0.8);
}
.keyboard button:hover{cursor:pointer}
.keyboard button::after{
	display:none;
}
.keyboard .two{
	width: calc(var(--size) / 0.9);
}
@media (max-width: 1200px){
	:root{
		--size: 6.5vh;
	}
}
